#about {
  @media only screen and (min-width: 1000px) {
    padding: 3rem;
  }
  padding-left: 1rem;
  padding-right: 1rem;
}

.composition {
  @media only screen and (min-width: 1000px) {
    position: relative;
    &__photo {
      position: absolute;
      transition: all 0.2s;
      filter: grayscale(50%);

      &:hover {
        outline: 5px solid $colFuschia;
        outline-offset: 1rem;
        box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
        z-index: 20rem;
        filter: grayscale(0%);
      }
    }
  }

  &__photo {
    width: 15rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    z-index: 10;

    @media only screen and (min-width: 1000px) {
      &--1 {
        left: 50%;
        transform: translateX(-100%);
      }
      &--2 {
        left: 50%;
        transform: translate(0%, 25%);
      }
      &--3 {
        left: 50%;
        transform: translate(-50%, 75%);
      }
    }
    @media only screen and (max-width: 1000px) {
      width: 30%;
    }
  }
}
.words {
  .hello-world {
    text-align: center;
    font-family: $fontSec;
    color: $colFuschia;
    position: relative;
    text-shadow: 2px 2px $colVoid;
  }
  p {
    color: $colJewel;
    line-height: 1.5rem;
  }
}
