#samples {
  // height: max-content;
  padding-bottom: 3rem;
  h1 {
    width: 100vw;
    text-align: center;
    font-family: $fontSec;
    font-size: 2rem;
    color: $colFuschia;
  }
  h3 {
    text-align: center;
    margin: 1rem;
  }
  .container {
    width: 100vw;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, 16rem);
    grid-gap: 1rem;
    justify-content: center;
  }
}

.project {
  cursor: pointer;
  .side {
    width: 13.5rem;
    height: 100%;
    overflow: hidden;

    &_1 {
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-width: 100%;
      }
    }

    &_2 {
      background-color: #eee;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: white;
      a {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-decoration: none;
        color: $colFuschia;
        font-weight: bold;
        .description {
          font-style: italic;
          height: 100%;
          text-align: center;
          padding: 0.5rem;
        }
      }
      img {
        width: 100%;
      }
    }
  }

  @include responsiveMin(phone) {
    height: 14rem;
    position: relative;
    width: 100%;
    &:hover {
      .side_1 {
        transform: translateX(-50%) rotateX(180deg);
      }

      .side_2 {
        transform: translateX(-50%) rotateX(0deg);
      }
    }
    .side {
      position: absolute;
      top: 0;
      left: 50%;
      // box-shadow: 0.5rem 0.5rem $colFuschia;
      border-radius: 1rem;
      box-shadow: 0.5rem 0.5rem 0.5rem rgb(126, 126, 126);
      backface-visibility: hidden;
      transition-duration: 0.5s;
      transform: translateX(-50%);
      &_2 {
        transform: translateX(-50%) rotateX(180deg);
      }
    }
  }

  @include responsive(phone) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
    margin: auto;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgb(126, 126, 126);
    padding: 1rem;
  }
}
