@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 16px;
  font-family: "Roboto Mono", monospace; }

@keyframes flash {
  0% {
    background-color: #a239ca; }
  24% {
    background-color: #a239ca; }
  25% {
    background-color: #e7dfdd; }
  49% {
    background-color: #e7dfdd; }
  50% {
    background-color: #a239ca; }
  74% {
    background-color: #a239ca; }
  75% {
    background-color: #e7dfdd; }
  99% {
    background-color: #e7dfdd; }
  100% {
    background-color: #a239ca; } }

@keyframes flash2 {
  0% {
    color: #e7dfdd; }
  24% {
    color: #e7dfdd; }
  25% {
    color: #a239ca; }
  49% {
    color: #a239ca; }
  50% {
    color: #e7dfdd; }
  74% {
    color: #e7dfdd; }
  75% {
    color: #a239ca; }
  99% {
    color: #a239ca; }
  100% {
    color: #e7dfdd; } }

nav {
  z-index: 1;
  background-color: #eee;
  height: 8.5rem; }
  nav .nav_list {
    list-style-type: none;
    display: flex;
    justify-content: center; }
    nav .nav_list_item {
      padding: 1rem; }
      nav .nav_list_item:hover {
        animation-name: flash;
        animation-iteration-count: 1;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        cursor: default; }
        nav .nav_list_item:hover h2 {
          animation-name: flash2;
          animation-iteration-count: 1;
          animation-duration: 0.5s;
          animation-fill-mode: forwards; }
  nav .name {
    text-align: center;
    width: 100%;
    color: #a239ca;
    font-family: "Permanent Marker", cursive;
    text-shadow: 2px 2px #0e0b16;
    font-size: 2.5rem;
    animation: moveInFromTop 1s forwards;
    transform: translateY(-100vh);
    animation-delay: 0.5s;
    position: relative;
    white-space: nowrap;
    cursor: pointer; }
    @media only screen and (max-width: 600px) {
      nav .name {
        font-size: 2rem; } }

nav {
  height: max-content; }

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column; }

.window {
  height: calc(100% - 8.3rem);
  display: grid;
  grid-template-rows: repeat(4, 100%);
  transition-duration: .5s; }

section {
  max-height: 100%;
  overflow-y: scroll; }

::selection {
  background-color: #a239ca;
  color: white; }

#home {
  display: flex;
  justify-content: center;
  align-items: center; }
  #home .container {
    width: max-content;
    text-align: center; }

.stack {
  width: 100%; }

.stack {
  display: grid;
  grid-template-rows: repeat(2, 5rem);
  grid-row-gap: 5rem;
  animation: zoom 1s forwards; }
  .stack .section {
    display: grid;
    grid-column-gap: 10rem;
    justify-content: center; }
    .stack .section1 {
      grid-template-columns: repeat(3, 5rem); }
    .stack .section2 {
      grid-template-columns: repeat(2, 5rem); }
    @media only screen and (max-width: 600px) {
      .stack .section {
        grid-column-gap: 1rem; } }
  @media only screen and (max-width: 1200px) {
    .stack {
      grid-row-gap: 1rem; } }
  .stack .logo {
    height: 5rem;
    position: relative;
    transition-duration: 0.3s;
    filter: grayscale(100%); }
    .stack .logo:hover {
      filter: grayscale(0%); }
    .stack .logo .angular {
      animation: grow infinite 4s linear; }
    .stack .logo .html5 {
      animation: hover infinite 5s linear; }
    .stack .logo .css3 {
      animation: hover2 infinite 5s linear; }
    .stack .logo .reactjs {
      animation: rotate infinite 5s linear; }
    .stack .logo img {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0; }
    .stack .logo_nodes img {
      backface-visibility: hidden; }
    .stack .logo_nodes .node1 {
      animation: spin1 infinite 5s linear; }
    .stack .logo_nodes .node2 {
      animation: spin2 infinite 5s linear; }

@keyframes zoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

@keyframes moveInFromTop {
  from {
    transform: translateY(-100vh); }
  to {
    transform: translateY(0); } }

@keyframes hover {
  25% {
    top: -20px; }
  75% {
    top: 20px; }
  100% {
    top: 0; } }

@keyframes grow {
  0% {
    transform: scale(0.8); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(0.8); } }

@keyframes hover2 {
  25% {
    top: 20px; }
  75% {
    top: -20px; }
  100% {
    top: 0; } }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes spin1 {
  from {
    transform: rotateY(0); }
  to {
    transform: rotateY(360deg); } }

@keyframes spin2 {
  from {
    transform: rotateY(-180deg); }
  to {
    transform: rotateY(180deg); } }

#about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center; }
  #about .pics {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    #about .pics .pic {
      width: 10rem;
      height: min-content;
      border: 5px double #4717f6;
      padding: 1rem;
      filter: grayscale(50%);
      transition-duration: 0.3s; }
      @media only screen and (min-width: 600px) {
        #about .pics .pic {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); } }
      #about .pics .pic:hover {
        filter: grayscale(0%);
        z-index: 9;
        border-style: solid;
        padding: 0; }
      @media only screen and (min-width: 600px) {
        #about .pics .pic_1 {
          transform: translate(-100%, -75%); } }
      @media only screen and (min-width: 600px) {
        #about .pics .pic_2 {
          transform: translate(-5%, -90%); } }
      @media only screen and (min-width: 600px) {
        #about .pics .pic_3 {
          transform: translate(-50%, 0%); } }
      #about .pics .pic img {
        width: 100%; }
  #about .words {
    padding: 1rem; }
    #about .words .hello-world {
      text-align: center;
      font-family: "Permanent Marker", cursive;
      color: #a239ca;
      position: relative;
      text-shadow: 2px 2px #0e0b16; }
    #about .words p {
      color: #4717f6;
      line-height: 1.5rem; }

#samples h1 {
  width: 100vw;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-size: 2rem;
  color: #a239ca; }

#samples h3 {
  text-align: center;
  margin: 1rem auto; }

#samples .container {
  width: 100vw;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(auto-fit, 16rem);
  grid-gap: 1rem;
  justify-content: center; }

.project {
  width: 100%;
  height: 14rem;
  position: relative; }
  .project:hover .side_1 {
    transform: translateX(-50%) rotateX(180deg); }
  .project:hover .side_2 {
    transform: translateX(-50%) rotateX(0deg); }
  .project .side {
    position: absolute;
    top: 0;
    left: 50%;
    width: 13.5rem;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition-duration: 0.5s;
    transform: translateX(-50%);
    background-color: white;
    box-shadow: 0.5rem 0.5rem #a239ca; }
    .project .side_1 {
      padding: 0.5rem; }
    .project .side_2 {
      background-color: #eee;
      transform: translateX(-50%) rotateX(180deg); }
      .project .side_2 a {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-decoration: none;
        color: #a239ca;
        font-weight: bold; }
        .project .side_2 a .description {
          font-style: italic;
          height: 100%;
          text-align: center;
          padding: 0.5rem; }
    .project .side img {
      width: 100%; }

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw; }
  @media only screen and (min-width: 600px) {
    #contact {
      display: grid;
      grid-template-columns: 1fr 20rem; } }
  @media only screen and (max-width: 600px) {
    #contact {
      display: flex;
      flex-direction: column; } }
  #contact .side_1 {
    padding: 2rem;
    background-color: #e7dfdd;
    min-height: min-content; }
    #contact .side_1 a {
      text-decoration: none; }
  #contact .side_2 {
    max-height: 100vh;
    overflow: hidden; }
    #contact .side_2 img {
      width: 100%;
      filter: grayscale(100%); }

.callToAction {
  font-family: "Permanent Marker", cursive;
  color: #a239ca; }

.button {
  padding: 1rem;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transition-duration: 0.3s; }
  .button:hover {
    background-color: rgba(162, 57, 202, 0.8);
    color: white; }
